.banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
   background: #000000;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity .8s ease-in-out;
  z-index: 0; /* Behind overlay and content */
}

/* Overlay ONLY on image */
.slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90.19deg, rgba(0, 0, 0, 0.589) 22.15%, rgba(255, 255, 255, 0.062) 80%);

  pointer-events: none;
}


.slide.active {
  opacity: 1;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  max-width: 800px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 53.21px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  z-index: 2; /* Above overlay */
}

.banner-heading {
  text-align: left;
  font-size: 4rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  min-width: max-content;
}

.first-line {
  font-size: 6rem;
margin-bottom: -18px;
  font-weight: 400;
  color: #109C5D;
}

.second-line {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 53.21px;
  line-height: 100%;
  /* letter-spacing: 0%; */
  vertical-align: middle;
}

.rotating-word {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.typewriter-bg {
  display: inline-block;
  padding: 0 0.1em;
  background: #109C5D;
  color: white;
  position: relative;
  text-shadow: none;
}

@keyframes blink {
  50% { opacity: 0; }
}

@media screen and (max-width: 768px) {
  .banner-content {
    top: 60%;
    transform: translate(5%, -40%);
    padding: 0 20px;
  }

  .first-line {
    font-size: 4rem;
}
.second-line {
    font-size: 1.5rem;
  }
}