.stats-section {
  padding: 4rem 2rem;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
}

.stat-item {
  text-align: center;
  padding: 1.5rem;
  width: 240px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
}
.stat-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 20%;
  right: 0;
  height: 60%;
  width: 1px;
  background-color: #ccc;
}

.stat-item:hover {
  transform: translateY(-5px);
}

.stat-image {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.stat-image img {
  width: 100%;
  height: auto;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #109C5D;
  position: relative;
}

.stat-value {
  display: inline;
}

.plus-sign {
  display: none;
  font-weight: bold;
  color: #109C5D;
  /* margin-left: 2px; */
  transition: opacity 0.3s ease;
}
.stat-label {
  font-size: 1.5rem;
  color: #3D3D3D;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', Arial, sans-serif;
  
}

@media (max-width: 768px) {
  .stat-item:not(:last-child)::after {
    display: none;
  }

  .stats-container {
    flex-direction: column;
  }
}